<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Manage Portfolio</title>
</head>

<body>

    <nav class="navbar navbar-light navbar-custom">
        <a class="navbar-brand p-3">
            <img src="/imgs/icons8-stock-96.png" width="30" height="30" alt="" loading="lazy" class="icon">
            MarketMimic
        </a>

        
        <div class="topnav-right p-3 mb-3">
            <button class="btn btn-custom m-2" onclick="window.location.href='/api/stocks/'">Back to Stock List</button>
            <form action="/userlogout" method="post">
                <button type="submit" class="btn btn-custom">Log out</button>

            </form>
        </div>
    </nav>

    <h1 id="portfolio-title" class="card-title text-center text-white">Your Portfolio</h1>
    
    <div class="container mt-4">
        <div id="account-overview" class="card">
            
                <div class="card-body">
                    <h4 id ="overview-title"class="card-title mb-3">Account Overview</h4>                    

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Current Balance</th>
                                    <td th:text="'$' + ${usd}">0.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Gains</th>
                                    <td>0.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Return</th>
                                    <td>%0.00</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sell stock</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container mt-5">
                        <form action="/sell" method="post">

                            <div class="form-group">
                                <label for="selectSymbol">Select stock to sell</label>
                                <select class="form-control" id="selectSymbol" name="selectSymbol">
                                    <option value="" disabled selected>Select your option</option>
                                    <option th:each="purchase : ${purchases}" th:value="${purchase.getSymbol()}" th:text="${purchase.getSymbol()}"></option>
                                </select> <br>

                                <label for="quantity">Quantity</label>
                                <input type="number" id="quantity" name="quantity">

                                <p>Selling price: <span></span></p>

                                <p>Final cost: <span></span></p>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div id = "portfolio-table" class="card">
            <div class="card-body">
                <h4 id = "portfolio-table-title" class="card-title mb-3">Your Stock Holdings</h1>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Symbol</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">purchase price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="purchase : ${purchases}">
                                <td th:text="${purchase.getSymbol()}"></td>
                                <td th:text="${purchase.getQuantity()}"></td>
                                <td th:text="'$' + ${purchase.getPrice()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="">© 2024 MarketMimic</span>
            <a href="https://github.com/munir-nuggets/CMPT276-project" class="text-muted ml-2">
                <img src="/imgs/github-mark-white.png" alt="GitHub" style="height: 24px;">
            </a>
        </div>
    </footer>

</body>

</html>