<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symbol Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <script src = "/stockscript.js"></script>
    
</head>
<body>

    <nav class="navbar navbar-light navbar-custom">
        <div class="container">
            <a class="navbar-brand p-3">
                <img src="/imgs/icons8-stock-96.png" width="30" height="30" alt="" loading="lazy" class="icon">
                MarketMimic
            </a>
    
            <div class="dropdown p-3 ml-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    Welcome, <span th:text="${user.username} + '!'"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/currencyscreen">View Portfolio</a></li>
                    <li><a class="dropdown-item" href="/leaderboard">Leaderboard</a></li>
                    <li>
                        <form action="/userlogout" method="post" class="d-inline">
                            <button type="submit" class="dropdown-item text-danger">Log out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <main class="flex-grow-1">
        <h1 id="stocklist-title" class="text-center mb-5">Search for a Symbol</h1>

        <div id="marketClosedMessage" class="alert alert-warning text-center" th:if="${!status.isOpen} and ${status.holiday} == null">
            The US market is currently closed. Please check back during market hours (Monday to Friday, 9:30 AM to 4:00 PM EST).
        </div>

        <div id="holidayMessage" class="alert alert-info text-center" th:if="${status.holiday} != null">
            The market is closed today due to ${status.holiday}.
        </div>

        <div class="input-group mx-auto" style="width: 75%;">
            <input type="text" id="searchInput" class="form-control" placeholder="Search for symbols..." oninput="filterStocks()">
        </div>

        <ul class="list-group mx-auto" id="stockList" style="display: none; width: 75%;">
            <li th:each="symbol : ${symbols}" class="list-group-item">
                <a th:href="@{/api/stocks/price(symbol=${symbol.symbol})}" th:text="${symbol.description} + ' (' + ${symbol.symbol} + ')'"></a>
            </li>
        </ul>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
