<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Symbol Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <script src = "/stockscript.js"></script>
</head>
<body>

    <nav class="navbar navbar-light navbar-custom">
        <a class="navbar-brand p-3">
            <img src="/imgs/icons8-stock-96.png" width="30" height="30" alt="" loading="lazy" class="icon">
            MarketMimic
        </a>


        <div class="topnav-right p-3 mb-3">
            <form action="/logout" method="post">
                <button type="submit" class="btn btn-custom ">Log out</button>
            </form>
        </div>

    </nav>
    <main class="container">
        <div id ="stock-details" class="card text-center">
            <div class="card-body">
                <h2 id ="stock-title" class="card-title">Stock Data for <span th:text="${symbol}"></span></h2>
                <p class="card-text">Current Price: $<span th:text="${stockData.currentPrice}"></span></p>
                <p class="card-text">High Price: $<span th:text="${stockData.highPrice}"></span></p>
                <p class="card-text">Low Price: $<span th:text="${stockData.lowPrice}"></span></p>
                <p class="card-text">Open Price: $<span th:text="${stockData.openingPrice}"></span></p>
                <p class="card-text">Previous Close Price: $<span th:text="${stockData.previousClosePrice}"></span></p>
                <a id ="return" class= "btn btn-custom btn-lg m-2 mt-2" href="/api/stocks/" >Back to List</a>
            </div>
        </div>
    </main>
    
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="">© 2024 MarketMimic</span>
            <a href="https://github.com/munir-nuggets/CMPT276-project" class="text-muted ml-2">
                <img src="/imgs/github-mark-white.png" alt="GitHub" style="height: 24px;">
            </a>            
        </div>
    </footer>

</body>
</html>