<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="/stockscript.js"></script>
    <title>Symbol Details</title>
   
</head>
<body>

    <nav class="navbar navbar-light navbar-custom">
        <a class="navbar-brand p-3">
            <img src="/imgs/icons8-stock-96.png" width="30" height="30" alt="" loading="lazy" class="icon">
            MarketMimic
        </a>

        <div class="topnav-right p-3 mb-3">
            <form action="/userlogout" method="post">
                <button type="submit" class="btn btn-custom">Log out</button>
            </form>
        </div>
    </nav>

    <main class="container">
        <div id="stock-container" class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mt-3 text-center">
                        <h2 id="stock-title" class="card-title text-center">Stock Data for <span id="symbol" th:text="${symbol}"></span>
                            <img th:src="${imageResponse}" width="30" height="30"></h2>
                        <p class="card-text">Current Price: $<span id="currentPrice" th:text="${stockData.currentPrice}"></span></p>
                        <p class="card-text">High Price: $<span th:text="${stockData.highPrice}"></span></p>
                        <p class="card-text">Low Price: $<span th:text="${stockData.lowPrice}"></span></p>
                        <p class="card-text">Open Price: $<span th:text="${stockData.openingPrice}"></span></p>
                        <p class="card-text">Previous Close Price: $<span th:text="${stockData.previousClosePrice}"></span></p>
                        <p class="card-text">Your current balance: $<span th:text="${usd}" id="balance"></span></p>
                        <a id="return" class="btn btn-custom btn-lg m-2 mt-2" href="/api/stocks/">Back to List</a>
                        <button type="button" class="btn btn-primary btn-lg m-2 mt-2" onclick="openForm()">Trade</button>
                    </div>
                    <div class="col-md-6">
                        <canvas id="stockChart" width="600" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- modals -->
    <div id="myModal" class="modal">
        <div class="modal-card">
            <span class="close" onclick="closeForm()">&times;</span>
            <form id="buyForm" action="/api/stocks/buy" method="post" class="form-container" onsubmit="return confirmTrade(event)">
                <h1 class="text-center">Trade Stock</h1>

                <div class="form-group">
                    <label>Choose an action:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="action" id="buy" value="true" checked>
                        <label class="form-check-label" for="buy">
                            Buy
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="action" id="sell" value="false">
                        <label class="form-check-label" for="sell">
                            Sell
                        </label>
                    </div>
                </div>

                <label for="modalSymbol"><b>Symbol</b></label>
                <input type="text" id="modalSymbol" name="symbol" required readonly class="form-control mb-3">

                <label for="modalPrice"><b>Price</b></label>
                <input type="number" id="modalPrice" name="price" required readonly class="form-control mb-3">

                <label for="quantity"><b>Quantity</b></label>
                <input type="number" id="quantity" name="quantity" required class="form-control mb-3" oninput="calculateTotal()">

                <label for="total"><b>Total</b></label>
                <input type="number" id="total" name="total" required class="form-control mb-3" readonly>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary ml-2" onclick="closeForm()">Close</button>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="">© 2024 MarketMimic</span>
            <a href="https://github.com/munir-nuggets/CMPT276-project" class="text-muted ml-2">
                <img src="/imgs/github-mark-white.png" alt="GitHub" style="height: 24px;">
            </a>
        </div>
    </footer>

    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener("DOMContentLoaded", function() {
            const ctx = document.getElementById('stockChart').getContext('2d');
            const stockDataResponse = /*[[${stockDataResponse}]]*/ '[]';
            const parsedStockDataResponse = JSON.parse(stockDataResponse);

            const labels = parsedStockDataResponse.results?.map(data => new Date(data.t).toLocaleDateString());
            const prices = parsedStockDataResponse.results?.map(data => data.c);

            const chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Stock Price',
                        data: prices,
                        borderColor: 'rgba(255, 0, 0, 1)',
                        borderWidth: 2,
                        fill: false,
                        tension: 0.1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'month',
                                tooltipFormat: 'MMM yyyy'
                            },
                            title: {
                                display: false,
                            }
                        },
                        y: {
                            beginAtZero: false,
                            title: {
                                display: true,
                                text: 'Price'
                            }
                        }
                    }
                }
            });

            let previousPrice = null;
            let currentPrice = null;

            // WebSocket
            const apiKey = 'cq1jlm1r01qjh3d5pt90cq1jlm1r01qjh3d5pt9g';
            const symbol = /*[[${symbol}]]*/ 'symbol';

            const socket = new WebSocket(`wss://ws.finnhub.io?token=${apiKey}`);

            socket.addEventListener('open', function (event) {
                socket.send(JSON.stringify({'type': 'subscribe', 'symbol': symbol}));
            });

            socket.addEventListener('message', function (event) {
                const data = JSON.parse(event.data);
                if (data.type === 'trade') {
                    currentPrice = data.data[0].p.toFixed(2);
                }
            });

            setInterval(function() {
                if (currentPrice !== null) {
                    var priceElement = document.getElementById('currentPrice');
                    priceElement.innerText = currentPrice;

                    // Change the color based on price movement
                    if (previousPrice !== null) {
                        if (currentPrice > previousPrice) {
                            priceElement.style.color = 'green';
                        } else if (currentPrice < previousPrice) {
                            priceElement.style.color = 'red';
                        } else {
                            priceElement.style.color = 'black'; // No change in price
                        }
                    }

                    // Update the previous price
                    previousPrice = currentPrice;
                }
            }, 1000);

            socket.addEventListener('close', function (event) {
                console.log('WebSocket connection closed:', event);
            });

            socket.addEventListener('error', function (error) {
                console.error('WebSocket error:', error);
            });

            window.onbeforeunload = function() {
                if (socket) {
                    socket.close();
                }
            };
        });

        function openForm() {
            const symbol = document.getElementById("symbol").innerText;
            const price = document.getElementById("currentPrice").innerText;
            document.getElementById("modalSymbol").value = symbol;
            document.getElementById("modalPrice").value = price;
            document.getElementById("myModal").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myModal").style.display = "none";
        }

        function calculateTotal() {
            const price = parseFloat(document.getElementById("modalPrice").value);
            const quantity = parseInt(document.getElementById("quantity").value);
            const total = price * quantity;
            document.getElementById("total").value = total.toFixed(2);
        }

        function confirmTrade(event) {
            event.preventDefault();
            const total = parseFloat(document.getElementById("total").value);
            const balance = parseFloat(document.getElementById("balance").innerText);
            const quantity = parseInt(document.getElementById("quantity").value);
            const quantityOwned = /*[[${quantityOwned}]]*/ 0;
            const isPurchase = document.getElementById("buy").checked;

            if (isPurchase) {
                if (total > balance) {
                    alert("Insufficient funds");
                    return false;
                }
            } else {
                if (quantity > quantityOwned) {
                    alert("Insufficient shares");
                    return false;
                }
            }

            const confirmation = confirm("Confirm trade?");
            if (confirmation) {
                document.getElementById("buyForm").submit();
            }
        }
        
        /*]]>*/
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76A2I9BoF2jKFqEDeAQyc9GS7K2W1Lq6hxSZvFV3r3nwJl6FqHNdRX7ar4"></script>
</body>
</html>
